<%- include("partials/header"); -%>
<!-- nav secton end -->
<section class="color-section">
  <div class="container-fluid">
    <!-- title start -->
    <div class="row" id="title">
      <div class="title-left col col-md-6 col-lg-6">
        <h1 id="big-title">Trip Daily Official</h1>
        <p>Let’s Drive Around The World</p>
        <form action="/user-subscription" method="POST">
          <input
            type="text"
            name="userEmail"
            placeholder="youremail@example.com"
            required
            minlength="4"
            />
          <button type="submit">Subscribe</button>
        </form>
      </div>
      <div class="title-right col col-md-6 col-lg-6">
        <img src="image/fixed-image/title-image.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- title end -->
<!-- 3 posts feed start-->
<section class="white-section">
  <div class="row post-feed">
    <!-- ejs template start-->
    <% function reverse(posts){ %>
    <%  var newPostArray = [];%>
    <%  for (var i = posts.length - 1; i> -1; i--){%>
    <%      newPostArray.push(posts[i]);%>
    <%  } %>
    <%  return newPostArray;%>
    <%  } %>

      <%  reverse(posts).slice(0,6).forEach(function(post){ %>
      <div class="col-md-4 col-sm-12 col-xs-12">
         <a href="/posts/<%=post._id%>" class="post-link">
          <div class="card h-100">
            <img
              src="image/<%=post.image%>"
              class="post-img card-img-top"
              alt="..."
            />
            <div class="card-body post-body">
              <p class="post-category"><%=post.category%></p>
              <h3 class="post-title card-title"><%=post.title%></h3>
              <p class="card-text">
              <%-post.content.substring(0, 150).replace(/<[^>]+>/g, '') + " ..."%>
              </p>
            </div>
            <div class="post-footer card-footer">
              <small class="text-muted"><%= post.postTime %> - </small>
              <small class="text-muted"><%= post.readTime %> READ</small>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
    <!-- ejs template end-->
</div>
</section>
<!-- 3 posts feed end -->
<!-- footer start-->
<%- include("partials/footer"); -%>
