<%- include("partials/header"); -%>
<!-- 3 posts feed start-->
<section class="white-section">
  <div class="postbox-title">
      <h2>ALL POSTS:</h2>
  </div>
  <div class="row post-feed">
    <!-- ejs template start-->
  <% function reverse(posts){ %>
  <%  var newPostArray = [];%>
  <%  for (var i = posts.length - 1; i> -1; i--){%>
  <%      newPostArray.push(posts[i]);%>
  <%  } %>
  <%  return newPostArray;%>
  <%  } %>

    <%  reverse(posts).forEach(function(post){ %>
      <div class="col-md-4 col-sm-12 col-xs-12">
         <a href="/posts/<%=post._id%>" class="post-link">
          <div class="card h-100">
            <img
              src="image/<%=post.image%>"
              class="post-img card-img-top"
              alt="..."
            />
            <div class="card-body post-body">
              <p class="post-cat"><%=post.category%></p>
              <h3 class="post-title card-title"><%=post.title%></h3>
              <p class="card-text">
              <%=post.content.substring(0, 150).replace(/<[^>]+>/g, '') + " ..."%>
              </p>
            </div>
            <div class="post-footer card-footer">
              <small class="text-muted"><%= post.postTime %> - </small>
              <small class="text-muted"><%= post.readTime %> READ</small>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
    <!-- ejs template end-->
</div>
</section>
<!-- 3 posts feed end -->

<!-- footer start-->
<%- include("partials/footer"); -%>
