<%- include("partials/header"); -%>
<!-- post start-->
<section class="color-section">
  <div class="post container-fluid">
    <p class="post-category"><%=category%></p>
    <h1 class="post-title"><%=title%></h1>
    <img class="post-image" src="/image/<%=image%>" alt="" />
    <p class="post-text"><%=content%></p>
  </div>
  <div class="more-post">
    <h5>More in "PERSONAL":</h5>
    <a href="">Lessons from: Is Tomorrow Hartal?</a>
    <a href="">Lessons from: Is Tomorrow Hartal?</a>
    <a href="">Lessons from: Is Tomorrow Hartal?</a>
  </div>
</section>

<!-- post end -->
<%- include("partials/footer"); -%>
