<%- include("partials/header"); -%>
<!-- post start-->
<section class="white-section">
  <div class="single-post container-fluid">
    <p class="single-post-category"><%=category%></p>
    <h1 class="single-post-title"><%=title%></h1>
    <img class="single-post-image" src="<%=image%>" alt="" />
    <section id="getImg" class="single-post-text">
      <p><%-content%></p>
    </section>
  </div>
  <div class="more-post">
    <h3>MORE POSTS</h3>
      <% morePost.forEach((post) => { %>
        <div class="single-more-post">
          <img class="" src="<%=post.image%>" alt="" />
          <a href="/posts/<%=post._id%>"><%=post.title%></a>

        </div>

      <%});%>

  </div>



</section>
<%- include("partials/footer"); -%>
